<template>
<div id="app">
<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="./assets/header1.jpg" alt="1" width="1100" height="500">
    </div>
    <div class="carousel-item">
      <img src="./assets/header2.jpg" alt="2" width="1100" height="500">
    </div>
    <div class="carousel-item">
      <img src="./assets/header3.png" alt="3" width="1100" height="500">
    </div>
  </div>
  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>

  <div class="title-container">
    <div>
      <br><br>
      <h3 class="title">
        mochilatte.co
      </h3>
    </div>
    <div class="filters">
      <span class="filter" v-bind:class="{ active: currentFilter === 'ALL' }" v-on:click="setFilter('ALL')">ALL</span>
      <span class="filter" v-bind:class="{ active: currentFilter === 'SWEATER' }" v-on:click="setFilter('SWEATER')">SWEATER</span>
      <span class="filter" v-bind:class="{ active: currentFilter === 'HOODIE' }" v-on:click="setFilter('HOODIE')">HOODIE</span>
      <span class="filter" v-bind:class="{ active: currentFilter === 'BLOUSE' }" v-on:click="setFilter('BLOUSE')">BLOUSE</span>
    </div>
  </div>
<!-- eslint-disable vue/no-use-v-if-with-v-for,vue/no-confusing-v-for-v-if -->
  <transition-group class="projects" name="projects" >
    <div class="project" v-if="currentFilter === project.category || currentFilter === 'ALL'" v-bind:key="project.title" v-for="project in projects">
      <div class="project-image-wrapper">
        <img class="project-image" v-bind:src="project.image">
      <div class="gradient-overlay"></div>
        <span class="project-title">{{project.title}}</span>
      </div>
    </div>
  </transition-group>
</div>

</template>

<script>

export default {
  name: 'App',
  data: function () {
    return {
      currentFilter: 'ALL',
      projects: [
        { title: 'SG Cheese Mustard Sweater', image: require('./assets/1.jpeg'), category: 'SWEATER' },
        { title: 'Trumpet Sleeve Black Blouse', image: require('./assets/9.jpeg'), category: 'BLOUSE' },
        { title: 'Tokyo Mustard Blouse with Ribbon Detail', image: require('./assets/2.jpeg'), category: 'BLOUSE' },
        { title: 'Holl Haus Holland Disney Alice Pink Hoodie', image: require('./assets/3.jpeg'), category: 'HOODIE' },
        { title: 'SPAO 3 Tone Oversized Sweater', image: require('./assets/4.jpeg'), category: 'SWEATER' },
        { title: 'Set Blouse', image: require('./assets/5.jpeg'), category: 'BLOUSE' },
        { title: 'Produce 101 Pink Sweater', image: require('./assets/6.jpeg'), category: 'SWEATER' }
      ]
    }
  },
  methods: {
    setFilter: function (filter) {
      this.currentFilter = filter
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
html,body {
  margin:0;
  font-family: 'Dawning of a New Day', cursive;
}

.carousel {
  margin-top: -70px;
}

.title-container {
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.title {
  font-family: 'Dawning of a New Day', cursive;
  font-size:30pt;
  font-weight:normal;
}

.project-title {
  font-size:10pt
}

.filter {
  font-family:arial;
  padding: 6px 6px;
  cursor:pointer;
  border-radius: 6px;
  transition: all 0.35s;
}

.filter.active {
  box-shadow:0px 1px 3px 0px #00000026;
}

.filter:hover {
  background:lightgray;
}

.projects {
  margin-bottom:50px;
  margin-top:25px;
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
}

.projects-enter {
  transform: scale(0.5) translatey(-80px);
  opacity:0;
}

.projects-leave-to{
  transform: translatey(30px);
  opacity:0;
}

.projects-leave-active {
  position: absolute;
  z-index:-1;
}

.circle {
  text-align:center;
  position:absolute;
  bottom:-38px;
  left:40px;
  width:100px;
  height:100px;
  border-radius:50px;
/* border:1px solid black; */
  display:flex;
  box-shadow: 0px -4px 3px 0px #494d3257;
  justify-content:center;
  align-items:center;
  background-color:#fff;
/* box-shadow:0px -3px 3px #484848a6; */
}

.project {
  transition: all .35s ease-in-out;
  margin:10px;
  box-shadow:0px 2px 8px lightgrey;
  border-radius:3px;
  width:180px;
  height:200px;
  display:flex;
  flex-direction:column;
  align-items:center;
}

.project-image-wrapper {
  position:relative;
}

.gradient-overlay {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:150px;
  opacity:0.09;
  background:
  linear-gradient(to bottom, rgba(0,210,247,0.65) 0%,rgba(0,210,247,0.64) 1%,rgba(0,0,0,0) 100%),
  linear-gradient(to top, rgba(247,0,156,0.65) 0%,rgba(247,0,156,0.64) 1%,rgba(0,0,0,0) 100%);
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
  border-top-left-radius:3px;
  border-top-right-radius:3px;
}

.project-image {
  width:100%;
  height:150px;
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
  border-top-left-radius:3px;
  border-top-right-radius:3px;
}
</style>
